.entry-header {
  display: none !important;
}

.lexend-font {
  font-family: "Lexend", sans-serif !important;
}

.cursor-pointer {
  cursor: pointer;
}

.index {
  z-index: 999999 !important;
}

.modal-dialog {
  max-width: 50% !important;
  margin: 0;
  padding: 0;
}

#uploadToolModel .modal-dialog {
  max-width: 100% !important;
  margin: 0 30% !important;
}

.board-list {
  height: 68vh;
  overflow: auto;
}


.section {
  overflow: hidden;
}

#section1 {
  height: 50vh;
  border: 2px solid #f3efe7;
  touch-action: none;
  position: absolute;
}

#section2 {
  height: 250px;
}

#section2, #custom_section {
  border: 2px solid #f3efe7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#custom_section {
  align-items: center;
  text-wrap: pretty;
}

.tool-name {
  font-size: 12px;
}

#myTabs {
  z-index: 9 !important;
}

.draggable {
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: move;
  margin: 5px;
}

#image-container {
  width: 20%;
  position: absolute;
  z-index: 9999;
}

#image-container img {
  width: 100%;
  height: 100%;
}

.viewer-container {
  z-index: 999999 !important;
}

.color-box-customization {
  position: absolute;
  z-index: 999;
}

.request_custom_close, .close {
  color: #000000;
}

.close:hover {
  color: #000000 !important;
  background-color: transparent !important;
}

.close {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: x-large;
}

.custom_board_dimensions {
  display: none;
}

.close-button {
  cursor: pointer;
  display: none;
  background: white;
  color: black;
  width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  padding: 1px 6px;
  line-height: normal;
  border-radius: 20px;
}

.color-palette {
  cursor: pointer;
  display: none;
  padding: 5px 2px;
  border-radius: 20px;
}

.set_board_title {
  z-index: 9;
}

.dot_alert {
  z-index: 9;
  border: 5px solid green;
  position: absolute;
  top: 0;
  right: -10px;
  border-radius: 20px;
  display: none;
}

/* Preloader Start */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  visibility: visible;
}

/* Animation for spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Preloader End */

#collapseOne {
  max-height: 58vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#left_section {
  max-width: 66.6%;
  max-height: 70vh;
  height: 70vh;
  overflow: hidden;
  position: relative;
}

#section1 {
  width: auto;
  height: auto;
}

#section1 div.draggable-container:hover .close-button {
  display: block !important;
}

#section1 div.draggable-container:hover .custom-color-picker {
  display: block !important;
}

#section1 div.draggable-container:hover .hide-important {
  display: none !important;
}


.accordian-customization {
  width: 100%;
  font-family: lexend, sans-serif !important;
}

.accordian-customization:hover {
  cursor: pointer;
  background-color: #f3efe7 !important;
  transform: none !important;
}

.accordian-customization:focus {
  background-color: #f3efe7 !important;
  transform: none !important;
}

input[type="text"],
input[type="number"] {
  border: 1px solid lightgray !important;
}

#myTabs .nav-link.active {
  color: #000000 !important;
  background-color: rgb(223, 138, 138) !important;
  border-color: #ffffff00 #ffffff00 #ffffff00 !important;
}

#myTabs1 .nav-link.active {
  color: #000000 !important;
  background-color: rgb(167, 156, 157) !important;
  border-color: #ffffff00 #ffffff00 #ffffff00 !important;
}

.board-dimensions, .board-title {
  width: 62%;
}

.tabs-font {
  font-size: 14px;
}

.box-border-custom {
  height: 69.6vh;
}

.drawing-tools {
  width: fit-content;
}

.bdt-gallery-thumbnail img {
  cursor: pointer;
}

/* media at mobile screen */
@media (max-width: 786px) {
  #left_section {
    max-width: 100% !important;
    max-height: 100vh;
    height: 100vh;
  }

  .tabs-font {
    font-size: 13px;
  }

  .modal-dialog {
    max-width: 100% !important;
    margin: 0;
    padding: 0;
  }

  .drawing-tools {
    width: 100%;
    flex-direction: column;
  }
}

.tooltip-container {
  position: relative;
}

.custom-tooltip {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 265px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 10px;
  cursor: pointer;
}

.tooltip-trigger:hover .custom-tooltip {
  display: flex !important;
  align-items: center;
  flex-direction: column;
}

.custom-tooltip button {
  background-color: blue;
  padding: 5px 10px;
  cursor: pointer;
}

.custom-color-picker {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  z-index: 999;
}

.color-input {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 3px solid #000000;
  /* margin: 5px; */
  z-index: 999;
}

.color-options {
  position: absolute;
  top: 100%;
  left: -150%;
  display: none;
  width: 59px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0;
  height: auto;
  line-height: 0;
  z-index: 999;
}

.custom-color {
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
}

.hide-after::after {
  display: none !important;
}

#drawing_eraser {
  display: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
  color: #000000 !important;
  box-shadow: none !important;
  border-color: #3498db !important;
}

input {
  color: #000000 !important;
}

#submit {
  color: #fff !important;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.no-custom-tools {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: wrap !important;
}

#card-element, #card-element-measuring {
  border: 2px solid rgb(197, 189, 189);
  padding: 8px;
  border-radius: 5px;
}