.section {
    /* margin: 10px; */
}

#section1 {
    height: 50vh;
    border: 2px solid #ccc;
    /* margin: 10px; */
}

#section2 {
    height: 40vh;
    border: 2px solid #ccc;
    /* margin: 10px; */
}

.draggable {
    /* width: 40px; */
    /* background-color: #5cb85c; */
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: move;
    margin: 5px;
}

.section1_logo {
    width: 10%;
    object-fit: cover;
}

.close{
    float: right;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: x-large;
}

.custom_board_dimensions {
    display: none;
}

.close-button {
    cursor: pointer;
    display: block; /* Initially hide the close button */
}